<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome, <%= username %></h1>
    <p>Your group is: <%= type %></p>
    <br/>
    <br/>
    <% if (type === "Owners") { %>
    <a href="/management"><button>Management</button></a>
    <% } %>
    <% if (type === "Diners") { %>
    <a href="/dashboard"><button>Dashboard</button></a>
    <% } %>
    <a href="/logout"><button>Log out</button></a>
  </body>
</html>
