<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Restaurants</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		
		<!-- ADDED JavaScript -->
		<!-- <script src="javascripts/insertScript.js"></script> -->
  </head>
  <body>
    <h1>Booking a <%= title%></h1>
		<form id="html_form" action="insert" role="form" method="post">
			<div class="form-group">
				<label for="username">Username</label>
        <input type="VARCHAR(40)" class="form-control" id="username" name="username" placeholder="Enter your username">
			</div>
			<div class="form-group">
				<label for="rname">Restaurant Name</label>
				<input type="VARCHAR(40)" class="form-control" id="rname" name="rname" placeholder="Enter the restaurant name">
			</div>
			<div class="form-group">
				<label for="aname">Outlet Name</label>
				<input type="VARCHAR(40)" class="form-control" id="aname" name="aname" placeholder="Enter the outlet area">
			</div>
			<div class="form-group">
				<label for="numPax">Number of People</label>
				<input type="numeric" class="form-control" id="numPax" name="numPax" placeholder="Enter the number of people">
			</div>
			<div class="form-group">
				<label for="confirmed">Confirmed</label>
        <select name="confirmed">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>
			<div class="form-group">
				<label for="dateTime">Start Time</label>
				<input type="integer" class="form-control" id="dateTime" name="dateTime" placeholder="Enter the Date and Time in this format: YYYY-MM-DD HR-MIN-SEC">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
		<script>
			(function() {
				window.addEventListener('load', function() {
					var forms = [document.getElementById('html_form')];
					var validation = Array.prototype.filter.call(forms, function(form) {
						form.addEventListener('submit', check, false);
					});
				}, false);
			})();
		</script>
  </body>
</html>
