<!DOCTYPE html>
<html>
  <head>
    <title>Authenticate or log in</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/login"><button>Log in</button></a>
    <a href="/signup"><button>Sign up</button></a>
  </body>
</html>
